@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;

}

p {
    margin: 0;
}


.left-window {
    background-image: url(./images/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    height: auto;
    width: 30%;
    position: relative;

}

.logo {
    box-sizing: border-box;
    height: 100px;
    display: flex;
    align-items: center;
    position :relative;
    background-color: rgba(0, 0, 0, 0.7);
    top: 7.5%;
    justify-content: center;
    padding: 10px;
    user-select: none;
    width: auto;
}

.logo img {
    max-height: 100%;
    max-width: 100%;
    min-height: auto;
    min-width: auto;

}

.logo h1 {
    font-family: 'Cormorant SC', sans-serif;
    color:white;
    font-size: 5vw;
}


.right-window {
    height: auto;
    width: 70%;
    font-family: sans-serif;
}

.right-window-upper {
    height: 30%;
    background-color: rgb(51, 51, 51);
    padding: 50px;
    font-size: 1.6vw;
    color: white;
}

.right-window-middle {
    height: 40%;
    background-color: rgb(27, 27, 27);
    padding: 20px;
}

.right-window-bottom {
    height: 30%;
    background-color: rgb(51, 51, 51);
    padding: 50px;
}

.right-window-bottom h4 {
    color:#e7d17c;
    font-size: 1.1vw;
}

.right-window-bottom button {
    background-color: #3c3d4d;
    font-weight: bold;
    font-size: 1.3vw;
    color: #fff;
    border: none;
    height: auto;
    width: 15vw;
    border-radius: 4px;
    cursor: pointer;
    padding: 15px 10px;
    box-shadow: -6px 4px #fff;
}

.right-window-bottom button:hover {
    box-shadow: 0 0 20px 6px #e7d17c;
}

fieldset {
    border: none;
}

.input-field {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    max-width: 30vw;
    flex-basis: 50%;
    flex-grow: 1;
}

legend {
    color: white;
    font-size: 3vw;
    font-weight: bold;
} 

.input-field {
    color: white;
    width: 10vw;
    font-size: 1.3vw;
}

.input-pair {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 3vh;
}

input {
    width: 60%;
    border-radius: 4px;
    box-shadow: 4px -3px #e7d17c;
    
}

input:focus{
    outline: none;
    box-shadow: 0 0 10px 3px #e7d17c;
    border: none;
}

.error {
    padding: 0;
    margin: 0;
    color: #522e8a;
}