@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Roboto&display=swap');


html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;

}

a {
    color: white;
}

.left-window {
    background-image: url(./images/jeffrey-chai-Rannb20Ufk0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    height: auto;
    width: 30%;
    position: relative;

}

.logo {
    box-sizing: border-box;
    height: 100px;
    display: flex;
    align-items: center;
    position :relative;
    background-color: rgba(0,0,0,0.4);
    top: 15%;
    justify-content: center;
    padding: 10px;
    user-select: none;
    width: auto;
}

.logo img {
    max-height: 100%;
    max-width: 100%;
    min-height: auto;
    min-width: auto;

}

.logo h1 {
    font-family: 'Cormorant SC', sans-serif;
    color:white;
    font-size: 5vw;
}

.image-copyright {
    color:white;
    font-family: sans-serif;
    position: absolute;
    bottom: 0;
    left: 20%;
    font-size: 1vw;
}

.right-window {
    height: auto;
    width: 70%;
}

.right-window-upper {
    height: 30%;
    background-color: saddlebrown;
}

.right-window-middle {
    height: 40%;
    background-color: chartreuse;
}

.right-window-bottom {
    height: 30%;
    background-color: violet;
}